# <font color='red'> *ABSOLUTE BEGINNER LEVEL* </font> 
# <font color='red'> LISTS </font>

# <font color='blue'> 1. PRINT FIRST, SECOND AND LAST ELEMENT IN THE LIST </font> 
Remember that the first element of the list has an index of 0

In [2]:
names = ["sara", "chanel", "mike", "ryan", "holy", "alex", "rob"]
print(names[0],names[1],names[-1])

sara chanel rob

# <font color='blue'> 2. PRINT (1) ALL ELEMENTS IN THE LIST, (2) "chanel" "mitch" "ryan", (3) FIRST THREE ELEMENTS, (4) LAST THREE ELEMENTS, (5) SKIP EACH OTHER ELEMENT </font>

In [3]:
names = ["sara", "chanel", "mitch", "ryan", "holy", "alex", "rob"]
print(names)
print(names[1:4])
print(names[0:3])
print(names[-3:])
print(names[::2])

['sara', 'chanel', 'mitch', 'ryan', 'holy', 'alex', 'rob']
['chanel', 'mitch', 'ryan']
['sara', 'chanel', 'mitch']
['holy', 'alex', 'rob']
['sara', 'mitch', 'holy', 'rob']

# <font color='blue'> 3. PRINT (1) SALLY, (2) SARA, SALLY, JOE (3) ALY (WITH TWO DIFFERENT WAYS) </font>

In [5]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [6]:
print(my_list[1][1])

sally

In [7]:
print(my_list[1])

['sara', 'sally', 'joe']

In [9]:
print(my_list[-1])

aly

In [11]:
print(my_list[-1:])

['aly']

# <font color='blue'> 4. PRINT THE LENGTH OF THE LIST AND ADD YOUR NAME TO THE LIST (EXTERNAL RESEARCH) </font> 
    - research the method: append()

In [ ]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [12]:
print(len(my_list))

4

In [13]:
my_list.append('Suresh')

In [14]:
print(my_list)

['Mitch', ['sara', 'sally', 'joe'], 'peter', 'aly', 'Suresh']

# <font color='blue'> 5. REMOVE "PETER" FROM THE LIST USING TWO DIFFERENT METHODS (EXTERNAL RESEARCH)  </font> 
    - remove()
    - del

In [18]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [15]:
my_list.remove('peter')

In [16]:
my_list

['Mitch', ['sara', 'sally', 'joe'], 'aly', 'Suresh']

In [19]:
del my_list[2]

In [20]:
my_list

['Mitch', ['sara', 'sally', 'joe'], 'aly']

# <font color='blue'> 6. SORT ELEMENTS IN A LIST AND REVERSE ALL ELEMENTS TO GO FROM MAXIMUM TO MINIMUM </font> 
    - sort()
    - reverse()

In [21]:
my_list = [50, 20, 30, 10, 40, 15, 45]
my_list.sort()
my_list

[10, 15, 20, 30, 40, 45, 50]

In [22]:
my_list.reverse()
my_list

[50, 45, 40, 30, 20, 15, 10]

# <font color='blue'> 7. CREATE A NEW LIST THAT CONTAINS THE LAST ELEMENTS IN THE NESTED LISTS </font>

In [23]:
grocery_list = [['chips','jelly','chocolate'],['sweet potatoes','potatoes'],['peanuts','protein bar']]
grocery_list

[['chips', 'jelly', 'chocolate'],
 ['sweet potatoes', 'potatoes'],
 ['peanuts', 'protein bar']]

In [24]:
new_list = []
new_list.append(grocery_list[0][-1])
new_list.append(grocery_list[1][-1])
new_list.append(grocery_list[2][-1])
new_list

['chocolate', 'potatoes', 'protein bar']

# <font color='blue'> 8. CREATE A LIST WITH 5 OF YOUR CLOSEST FRIENDS AND SORT THEM ALPHABETICALLY </font>

In [25]:
family = ['Lallu', 'Janu','Mahi','Sanvi']
family.sort()

In [26]:
family

['Janu', 'Lallu', 'Mahi', 'Sanvi']

# NOW YOU KNOW HOW LISTS WORK, KEEP IT UP!