# PYTHON PROGRAMMING FUNDAMENTALS
# TUPLES AND SETS

# TUPLES 
A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [82]:
tuple_1 = ('Mitch', 'Sandy', 10, 15, 1992);
tuple_2 = (4, 5, 9, 2);
type(tuple_1)

tuple

In [83]:
tuple_1

('Mitch', 'Sandy', 10, 15, 1992)

In [85]:
# Accessing elements in a tuple
tuple_1[1]

'Sandy'

In [86]:
tuple_1[1:3]

('Sandy', 10)

In [87]:
tuple_1[1] = 0

TypeError: 'tuple' object does not support item assignment

In [88]:
# Create a New Tuple from existing Tuples
tuple_3 = tuple_1 + tuple_2
tuple_3

('Mitch', 'Sandy', 10, 15, 1992, 4, 5, 9, 2)

# SETS
- A set is an unordered collection of items. Every element is unique (no duplicates).
- A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().

In [89]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [90]:
# set do not have duplicates
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [91]:
my_list = [1,2,3,2]
my_set = set(my_list)
print(my_set)

{1, 2, 3}

# YOU ARE GETTING CLOSER TO MASTERING PYTHON! KEEP IT UP!